
<div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-primary">
    <div class="center panel-heading">
        <h2 align="center"> <%= @prayer.title %></h2>
        <p align="center">Created By: <%= @prayer.created_by %></p>
        <p class="date"><b>Submitted:</b> <%= time_ago_in_words(@prayer.created_at) %> Ago
        </div>
    <div class="panel-body">

    <%= @prayer.content.html_safe %>
        
        
<div class="article-actions">
    <%= link_to "Edit this prayer", edit_prayer_path(@prayer), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete this prayer", prayer_path(@prayer), method: :delete,
data: { confirm: "Are you sure you want to delete the article?"},
class: "btn btn-xs btn-danger" %>
    <%= link_to "View all prayers", prayers_path, class: "btn btn-xs btn-success" %>
</div>
</div>
</div>
    </div>