<!DOCTYPE html>
<html>
<head>
  <title>PrayerBulletin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>
    
    <% flash.each do |key, value| %>
<div class="alert alert-<%= key %> alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <%= value %>
</div>
<% end %>
    
 <div class="container">   
<%= yield %>
    </div>
<%= render 'layouts/footer' %>
    
 <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
 <script>tinymce.init({ selector:'textarea' });</script>
</body>
</html>
